.modal {
  background-color: white;
  color: black;
  border: 1px solid white;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.42);
  height: 20em;
  width: 25em;
  padding: 10px 10px 0 10px;
  margin-bottom: 20px;
}

.modal h1 {
  color: rgb(233, 147, 147);
  margin-bottom: 10px;
}
