.banner {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(233, 147, 147);
}

.banner-image {
  width: fit-content;
}

.banner-text {
  margin-top: 10em;
  text-align: justify;
  color: #fff;
}

.banner-text h1 {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 3em;
}

.banner-text h2 {
  text-transform: uppercase;
  font-size: 2em;
}

.banner-text p {
  margin-top: 5px;
  font-weight: 600;
  font-size: 1.2em;
}

.content {
  margin: 0 auto;
  width: 60%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  gap: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
.first-button {
  background-color: white;
  width: 200px;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  justify-content: center;
}

.second-button {
  background-color: white;
  width: 200px;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  justify-content: center;
}

.first-button span,
.second-button span {
  margin-left: 10px;
}

.info {
  text-align: justify;
  margin-bottom: 20px;
}

.info p {
  margin-top: 10px;
}

/* HOME MODAL LAYOUT */
.container-modal {
  display: grid;
  grid-template-areas: "modal-top-left modal-right" "modal-bottom-left modal-right";
  grid-gap: 10px;
  width: 100%;
  height: 100%;
}

.container-modal .modal-top-left {
  grid-area: modal-top-left;
}

.container-modal .modal-bottom-left {
  grid-area: modal-bottom-left;
}

.container-modal .modal-right {
  grid-area: modal-right;
  cursor: pointer;
}
.container-modal .modal-right img {
  width: 100%;
  height: 90%;
}
.container-modal .modal-right p {
  background-color: rgb(233, 147, 147);
  color: #fff;
  padding: 15px;
}

.long-modal {
  background-color: white;
  color: black;
  border: 1px solid white;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.42);
  height: 15em;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.long-modal h1 {
  color: rgb(233, 147, 147);
  margin-bottom: 10px;
  text-align: justify;
}

.long-modal p {
  text-align: justify;
}

.footer {
  width: 100%;
  background-color: rgb(233, 147, 147);
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.footer strong {
  cursor: pointer;
  text-decoration: underline;
}
